@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
}

/*Header*/

header{
	position:fixed;
	left: 0px;
	top:0px;
	width: 100%;
	z-index: 10;
	background-color: white;
	padding:15px 15px;
}
header .container{
	-webkit-display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo a{
	font-size: 30px;
	text-decoration: none;
	color:black;
	font-weight: 700;
}
header .logo a span{
	color:#008080;
}
header .nav{
	position: fixed;
	background-color: white;
	width: 280px;
	top:0;
	right:0;
	height: 100%;
	z-index: 99;
	padding:100px 0px 15px; 
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}
header .nav.open{
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
header .nav ul{
	list-style: none;
	margin:0;
	padding:0px;
}
header .nav ul li{
display: block;
}
header .nav ul li a{
	text-decoration: none;
	font-size: 30px;
	font-weight: 400;
    color:black;
    display: block;
    position: relative;
    padding:10px 30px;
}
header .nav ul li a.active::before{
	content: '';
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width:100%;
	background-color:#008080;
	opacity:.2;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
	z-index: -1;
}
header .nav ul li a::before{
	content: '';
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width:0px;
	background-color:#008080;
	opacity:.2;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
	z-index: -1;
}
header .nav ul li a:hover::before{
	width: 100%;
}
header .ham-burger{
	display: inline-block;
	position: relative;
	z-index: 100;
}
header .ham-burger span{
	height: 3px;
	margin-bottom:8px;
	display: block;
	background-color:black;
	width:30px;
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
}


.container{
	max-width: 1170px;
	margin: auto;
}

/*Home section*/
.home{
	height: 100vh;
	background-image: url('../images/heropics.jpg');
	background-size: cover;
	padding:15px;
	-webkit-display: flex;
	display: flex;
	position: relative;
}
.home .go-down{
  position: absolute;
  bottom: 50px;
  width: 26px;
  height:40px;
  border:1px solid #ffffff;
  display: block;
  border-radius:4px;
  text-align: center;
  left:50%;
  margin-left: -13px;
}
.home .go-down .fa{
	color:#ffffff;
	-webkit-animation: goDown 1s ease infinite;
	animation: goDown 1s ease infinite;
}

.home .container{
  -webkit-display: flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home h1{
	color:#ffffff;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin:0;
	padding-bottom: 500px;
}

.home h1 span{
	color:#008080;
}





/*Contact Section*/

.contact{
	padding:80px 0px;
	background-color: white;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
 height: 45px;
 width: 100%;
 padding:6px 12px;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid black;
 font-family: 'Open-sans',sans-serif;
 color:black;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
 outline: none;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:black;
}
.contact .content .form textarea{
	height: 100px;
}

.contact .content .form button{
	border:none;
	outline: none;
	box-shadow: none;
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color: #008080;
	color:black;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .form button:hover{
	background-color:transparent;
	color:black; 
    border-color:black;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #008080;
    padding: 0px 0px 20px;
}
.contact .content .text p{
    font-size: 15px;
    line-height: 20px;
    color: black;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
	list-style: none;
	padding:0;
	margin:0;
}

.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:black;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:#008080;
}
.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: black;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: black;
    border-color: black;
}

.contact .content .text .social a span{
	color:white;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid black;
	margin-top: 30px;
	padding-top: 20px;
	color:#008080;
	font-size: 15px;
}





